.main {
  //display: none;
  max-height calc(100vh - 87px);
  overflow: hidden;

  &_visible {
    //max-height: auto;
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

}
