.link-preview {
    display: flex;

    width: 100%;
    // background-color: orange;
    font: 13px 'Open Sans', Arial;

    box-sizing: border-box;
    border: 1px solid #E1E8ED;
    &__image {
        width: 25%;
        padding: 10px;
        border-right: 1px solid #E1E8ED;
        img {
            width: auto;
            height: auto;
            max-width: 100%;
            min-width: 100%;
            max-height: 100%;
            min-height: 100%;
            object-fit: contain;
        }
    }

    &__text {
        width: 75%;
        padding: 10px;
    }

    &__description {
        font-size: 11px;
        padding-top:5px;
    }
}
