.create-tweet{
  display: none
  background: linear-gradient(to right, #944a71, #d95d92);
  border-radius: 50%;
  padding: 15px;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);

  &_visible{
    display: block;
  }

  &__icon{
    width: 18px;
    height: 18px;
  }
}
