node_modules/
.DS_Store
.idea
.project
.svn
npm-debug.log

static/index.min.*
static/index.*.min.js

# bem
.enb/tmp/
libs/
*bundles*/*/*.*
!*bundles*/*/*.bemdecl.js
*bundles*/*/*.tmpl.bemdecl.js
!*bundles*/.bem/*

*.sublime-workspace
