$baseColor = #944a71;
$baseColorLighter = #d95d92;
$pepoLinearGradient = linear-gradient(to right, $baseColor, $baseColorLighter);
$createTweetSize = 50px;
$pageHeaderSize = 45px;

$navigationSize = 40px;
$navigationBorderSize = 2px;

$mainHeight = "calc(100vh - %s - %s - %s)" % ($pageHeaderSize $navigationSize $navigationBorderSize);
