.tweet {
    display:flex;
    padding: 10px;
    border: 1px solid #eee;
}

.tweet__userpic{
    margin: 0 10px 0 0;
}

.tweet__username{
    margin: 0 0 10px 0;
}
.tweet__content{
    width:100%;
}

.tweet__head{
    display: flex;
    justify-content: space-between;
}