.tweet {
    display:flex;
    border: 1px solid #cbcbcb;

    font-family: Arial;
}

.tweet__userpic{
    margin: 0 0 0 0;
    padding: 10px;
    border-right: 1px solid #cbcbcb;
}

.tweet__username{
    margin: 0 0 0 0;
}
.tweet__content{
    width:100%;
    padding: 10px 0;
}
.tweet__text{
    padding: 10px;
}
.tweet__head{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.tweet__delitemer{
	margin: 5px 0;
    background: linear-gradient(to right,rgba(0,0,0,.15) 20%,#fff 100%);
    height: 1px;
    padding: 0;
}