.tweet {
    display:flex;
    border: 1px solid #f0f0f0;

    font-family: Arial;
    border-radius: 2px;
}

.tweet__userpic{
    margin: 0 0 0 0;
    padding: 10px;
    /*border-right: 1px solid #cbcbcb;*/
}

.tweet__username{
    margin: 0 0 0 0;
        color: #33c;
    font-size: 13px;
}
.tweet__content{
    width:100%;
    padding: 10px 0;
}
.tweet__text{
    padding: 10px;
    font-size: 13px;
}
.tweet__head{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.tweet__created{
	font-size: 11px;
	color: gray;
}