.subscribe {
  font-family: 'Open Sans', sans-serif;
  background: transparent;
  font-size: 14px;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px 10px;

  &_subscribed {
    background-color: #fff;
    color: #954a71;
  }

  &_hidden {
    display: none
  }

}