.subscribe {
    font-family: 'Open Sans', sans-serif;
    background: transparent;
    font-size: 14px;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 10px;
    outline: none;
    transition: 100ms;

    &_subscribed {
        background-color: #fff;
        color: $baseColor;
    }

    &_disabled {
        opacity: .3;
    }

    &_hidden {
        display: none;
    }

}
