.header {
  display: flex;

  background: linear-gradient(to right, #944a71, #d95d92);
  .header__submit{
    display: none;
  }
  &_allowSubmit{
    .header__submit{
      display: inherit;
    }
  }

  &__column {
    display: flex;
    align-items: center;
    margin: 0 15px;
    flex: 1

    &_align {
      &_right {
        justify-content: flex-end;
      }
    }
  }

  &__plus,
  &__back,
  &__burger,
  &__submit {
    //display: none;
    color: #fff;
    font-size: 2.5rem;
    display: flex;
    align-items: center

  }

  &__icon {
    width: 22px;
    height: 22px;
  }

  &__standard {
    display: none;
    &_visible {
      display: inherit;
    }
  }
  &__newTweet {
    display: none;
    &_visible {
      display: inherit;
    }
  }
}
