.tweet-location {
  display: none;
  margin-left: 10px;
  margin-right 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #808080;
  &__link {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #808080;
    margin: 0 10px 0 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none
    border-bottom: 1px dashed #808080;
    line-height: 1.2;
  }

  &__icon {
    height: 12px;
    width: 12px;
    display: inline-block;
    vertical-align: middle;
  }
}