.userinfo {
  margin: 10px;
  border: 2px solid #c0c0c0;

  font-family: Arial;
  border-radius: 2px;

  display: flex;

  &__userpic {
    margin: 10px;
  }
  &__info {
    margin: 10px;
    flex: 1;
  }
  &__username {
    font-size: 12px;
    color: gray;
  }
  &__description {
    margin: 10px 0;
    font-size: 14px;
    color: black;
  }
}