.new-tweet {
  //display: none;
  position: absolute;
  left: -100vw;
  right: 0;
  bottom: 0;
  top: 45px;
  width: 100%;
  height: calc(100vh - 50px);
  background: white;

  transition: left 0.3s 0s;
  z-index: 100;
  &_visible {
    //display: block;
    left: 0;
  }

  &__input {
    height: 120px;
  }

  &__reply {
    display: none;
  }

  &__attach {
    padding: 5px 0;
  }
  &__location {
    display: block
    padding: 5px 0;
  }
  &__actions {
    padding: 0 10px;
  }
  &__create-tweet {
    position: fixed;
    bottom: 60px;
    right: 25px;
  }
}
