.new-tweet {
  //display: none;
  position: absolute;
  left: -100vw;
  right: 0;
  bottom: 0;
  top: 47px;
  width: 100%;
  height: calc(100vh - 50px);
  background: white;

  transition: left 0.3s 0s;
  z-index: 100;
  &_visible {
    //display: block;
    left: 0;
  }

  &__input {
    height: 100%;
  }

  &__reply {
      display: none;
  }
}
