.tweet-toolbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.tweet-toolbar__like,
.tweet-toolbar__reply,
.tweet-toolbar__retweet,
.tweet-toolbar__delete {
    width: 18px;
    height: 18px;
    margin: 0 10px;
}
