.navigation{
  height:40px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #fff;
  border-top:2px solid #d55c90;

  display: flex;
  align-items: center;
  justify-content: space-around;

  &__item{

    margin: 0 10px

    font-size: 42px;
    color: #944a71;
    line-height: 0.48;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

  }
  &__icon{
    height:22px;
    width: 22px;
    margin: 0 10px
  }
}
