.navigation{
  height: $navigationSize;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #fff;
  border-top: $navigationBorderSize solid #d55c90;

  display: flex;
  align-items: center;
  justify-content: space-around;

  &__item{

    position: relative;
    margin: 0 10px

    font-size: 42px;
    color: $baseColor;
    line-height: 0.48;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    &_active{
      &:after{
        content: '';
        display: block;
        bottom: -9px;
        position: absolute;
        left: 50%;
        margin-left: -17px;
        height: 2px;
        width: 34px;
        background: #d85d91;
      }
    }
  }
  &__icon{
    height:22px;
    width: 22px;
    margin: 0 10px
  }
}
