.feed {
    //display: none;
    //margin:10px 0;
    width:100%;

    padding-bottom: 65px;
    &_visible {
        display: inherit;
    }

    &__new-tweets{
        display: none
        background: #ff5fa4;
        padding: 10px;
        text-align: center;
        font-family: Arial;
        color: white;
        text-decoration: none

        position: fixed;
        left: 0;
        right: 0;
        bottom: 42px;
        z-index: 99;
        &_visible {
            display: block;
        }
    }
}
