.profile-edit {
  display: flex;
  flex-direction: column;
  border: 1px solid #f0f0f0;

  font-family: Arial;
  border-radius: 2px;
  padding: 10px;
  margin: 10px;

  &__userpic-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__userpic {
    margin: 0 0 10px;
  }
  &__userpic-attach {
    margin: 0 0 10px;
  }
  &__input {
    margin: 10px 0 0;
    width: 100%;
  }
  &__button {
    margin: 10px 0 0;
  }

  .icon {
    background-size: initial;
  }

  &__language {
    margin-bottom: 10px
  }
  &__language_label {
    text-align: center;
    margin: 10px;
  }

}