.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;


  &__title {
    font-size: 20px;
    padding: 20px;
    color: white;
  }

  &__soc-networks {
    display: flex
    justify-content center
  }

  &__soc {
    display: block
    height: 40px
    width 40px
    margin 10px 15px

  }

}