.counter {
  display: flex
  flex-direction: column;
  align-items: center

  font-family: 'Open Sans', sans-serif;
  color: white;

  &__nubmer {
    font-size: 32px;
  }

  &__text {
    font-size: 14px
  }
}