.tweet-item {
    display:flex;
    font-family: 'Open Sans', sans-serif;
    align-items: flex-start;
}

.tweet-item__userpic{
    margin: 5px 10px 0 0;
    padding: 10px;
    /*border-right: 1px solid #cbcbcb;*/
    border-radius: 50%;
    max-width: 45px;
}

.tweet-item__username{
    margin: 0 0 0 0;
        color: #d95d92;
    font-size: 13px;
}
.tweet-item__content{
    width:100%;
    padding: 10px 0 0;
}
.tweet-item__text{
    padding: 10px 10px 10px 0;
    font-size: 13px;
    color: #666;
}
.tweet-item__head{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 10px 0 0;
}

.tweet-item__created{
	font-size: 11px;
	color: gray;
    font-style: italic;
}